body {
  background-color: #363636;
}

ul {
  list-style-type: none;
}

label {
  text-align: center;
}

#spriteEditor {
  /* Align Canvas to Center */
  margin: 50px auto;
  text-align: center;
}

#sliderDiv {
  margin: 50px auto;
  text-align: center;
}

.c-slider {
  width: 300px;
}

#myCanvas {
  /* Size of Canvas */
  width: 250px;
  height: 250px;
  background-color: #ffffff;

  /* Border around the Canvas */
  border: 1px solid black;
}
